# Built artifacts
build/
app/build/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings
.factorypath
captures/
navigation/

# Local configuration
local.properties

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.log
*.swp
