<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SIGLA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sigla"
>

        <!-- Only MainActivity for now -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        <activity android:name=".SuggestWordActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".CollectionActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ReviewActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".TranslationHistoryActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".WordBankActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".NotificationsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ProfileActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".SettingsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".TermsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".OnboardingActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".AuthActivity" android:exported="false" android:screenOrientation="portrait" />
        

    </application>
</manifest>